.highlight {
  position: relative;
  text-align: center;
}

.highlight .image img {
  display: block;
  width: 100%;
  transition: opacity 0.3s;
}

.highlight:hover .image img {
  opacity: 0.5;
}

.highlight .hidden-links {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.highlight:hover .hidden-links {
  display: block;
}

.highlight .button {
  margin: 10px;
  /* background-color: #444;  */
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.highlight .button:hover {
  background-color: #666;
}

#technologies {
  text-align: center;
  padding: 50px 0;
}
#technologies i {

  font-size: 4em;
  margin-bottom: 10px;

}


.view-button {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: 0.8em;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.view-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



.headshot-container {
  width: 200px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 0 auto;
}

.headshot-image {
  width: 100%;
  height: auto;
  display: block;
}


#about-me .container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
}

#about-me p {
  font-size: 1rem;
  line-height: 1.6;

}

