.highlight {
  position: relative;
  text-align: center;
}

.highlight .image img {
  display: block;
  width: 100%;
  transition: opacity 0.3s;
}

.highlight:hover .image img {
  opacity: 0.3;
}

.highlight .hidden-links {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.highlight:hover .hidden-links {
  display: block;
}

.highlight .button {
  margin: 10px;
  /* background-color: #444;  */
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.highlight .button:hover {
  background-color: #666;
}

#language-skills {
  text-align: center;
  padding: 50px 0;
}
#language-skills i {

  font-size: 4em;
  margin-bottom: 10px;
  display: block;
}
